*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: #F7CB00 ;
}

body{
        text-align: center;
        background-color: #60A03C;

}

#titulo{
    font-size: 50px;
    margin: 30px 0 0 0;
    
}

#multiplication-form{
    background-color: white;
    margin: 50px 500px;
    padding: 50px;
    border-radius: 50px;
}

#multiplication-form input[type="number"]{
    padding: 0px;
    text-align: center;
    width: 60px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #60A03C;
}

#multiplication-form label{
    text-transform: uppercase;
    font-weight: bold;
}

#multiplication-form input[type="submit"]{
    padding: 10px 100px;
    margin: 10px 0;
    background-color: #60A03C;
    border-radius: 10px;
    color: #F7CB00;
    border: 0px solid blue;
}

#multiplication-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #46712d;
    transition: all 0.5s;
}

#tabuada-gerada{
    background-color: white;
    margin: 10px auto;
    max-width: 500px;
    padding: 50px;
    border-radius: 10px;
    
}

.expressoes{
    border: 2px solid rgb(184, 184, 184);
    border-bottom: none;
    padding: 10px 0;
}

#tabuada-gerada :last-child{
    border-bottom: 2px solid rgb(184, 184, 184);
}